[database]
user=
password=
host=
port=
database=
ip_range=10.1.1.0/255.255.252.0

[idmapping]
remote_url=ftp://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/idmapping/idmapping.dat.gz
table_name=idmapping
uniprot_id=uniprot_id

[idmapping.maps]
GI=enabled
EMBL-CDS=enabled
RefSeq=enabled
PDB=enabled

[cluster]
queue=

[taxonomy]
remote_url=ftp://ftp.ebi.ac.uk/pub/databases/ena/taxonomy/taxonomy.xml.gz

[database-build]
uniprot_url=ftp://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase
interpro_url=ftp://ftp.ebi.ac.uk/pub/databases/interpro/current
pfam_info_url=ftp://ftp.ebi.ac.uk/pub/databases/Pfam/current_release/Pfam-A.clans.tsv.gz

