timeline.overwrite = true
dag.overwrite = true
report.overwrite = true
nextflow.preview.output = true

docker.enabled = true

process {
    cpus = 1
    memory = 10.GB
    container = 'enzymefunctioninitiative/efi-est:latest'
    containerOptions = "-v $projectDir:$projectDir -v $projectDir/../shared:$projectDir/../shared -v $projectDir/../../:$projectDir/../../"

    withName: get_ssn_id_info {
        containerOptions = "-v $projectDir:$projectDir -v $projectDir/../shared:$projectDir/../shared"
    }

    withName: unzip_input {
        containerOptions = "-v $projectDir:$projectDir -v $projectDir/../shared:$projectDir/../shared"
    }

    withName: color_ssn {
        containerOptions = "-v $projectDir:$projectDir -v $projectDir/../shared:$projectDir/../shared"
    }
}

