timeline.overwrite = true
dag.overwrite = true
report.overwrite = true
nextflow.preview.output = true

docker.enabled = true

process {
    cpus = 1
    memory = 10.GB
    container = 'enzymefunctioninitiative/efi-est:latest'
    containerOptions = "-v $projectDir:$projectDir -v $projectDir/../shared:$projectDir/../shared"

    withName: get_id_list {
        containerOptions = "-v $projectDir:$projectDir -v $projectDir/../shared:$projectDir/../shared -v $projectDir/../../:$projectDir/../../"
    }

    withName: get_fasta {
        containerOptions = "-v $projectDir:$projectDir -v $projectDir/../shared:$projectDir/../shared -v $projectDir/../../:$projectDir/../../"
    }

    withName: get_annotated_mapping_tables {
        containerOptions = "-v $projectDir:$projectDir -v $projectDir/../shared:$projectDir/../shared -v $projectDir/../../:$projectDir/../../"
    }
}

