timeline.overwrite = true
dag.overwrite = true
report.overwrite = true

executor {
    name = 'slurm'
    queue = 'efi'
    queueSize = 128
}

process {
    executor = 'local'
    cpus = 1
    memory = 8.GB

    withName: cluster_gnn {
        executor = 'slurm'
        queue = 'efi'
        cpus = 1
        memory = 32.GB
    }
}