timeline.overwrite = true
dag.overwrite = true
report.overwrite = true

executor {
    name = 'pbspro'
    queueSize = 64
}

process {
    cpus = 1
    memory = 16.GB

    withName: filter_blast {
        executor = 'pbspro'
        cpus = 1
        memory = 50.GB
        time = 6.h
    }

    withName: create_full_ssn {
        executor = 'pbspro'
        cpus = 1
        memory = 150.GB
        time = 6.h
    }
}
