
params {
    // EST parameters
    sequence_version = "uniprot"
    domain = false
    domain_region = "domain"
    domain_family = null
    multiplex = true
    blast_evalue = "1e-5"
    blast_num_matches = 1000000
    import_blast_num_matches = 1000
    import_blast_evalue = "1e-5"
    num_fasta_shards = 128
    duckdb_memory_limit = "8GB"
    duckdb_threads = 1
    duckdb_temp_dir = "duckdb"
    cdhit_memory_limit = "10 GB"
    num_accession_shards = 64
    import_blast_fasta_db = null
    input_file = null
    filter = null
    sort_seq_by_length = false

    // GenerateSSN parameters
    threshold_metric = "alignment_score"
    min_length = 0
    max_length = 65000
    make_repnodes = true
    repnode_pct = [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50] 
    max_ssn_edges = 200000000
    compute_ssn_nc_factor = false

    // GNT/GND parameters
    nb_size = 20
    cooc_threshold = 0.2

    // Cluster Analysis parameters
    muscle_version = 3 // or 5
    max_msa_sequences = 750
    min_msa_sequences = 3
    make_weblogos = true
    make_hmms = true
    make_length_histograms = true
    compute_conserved_residues = false
    conserved_residues = []
    pid_thresholds = []
}

