
params {
    // EST parameters
    blast_num_matches = 1000000
    blast_evalue = "1e-5"
    sequence_version = "uniprot"
    domain = false
    domain_region = "domain"
    multiplex = false
    duckdb_memory_limit = "8GB"
    duckdb_threads = 1
    num_fasta_shards = 128
    num_accession_shards = 64
    // GenerateSSN parameters
    filter_parameter = "alignment_score"
    min_length = 0
    max_length = 50000
    // GND parameters
    nb_size = 20
    // GNT parameters
    cooc_threshold = 0.2
}

