
params {
    // compute resource specific parameters
    compute_local_storage = "/tmp"
    memory_cpu_ratio = 8 // just an example of 8 GB RAM per 1 CPU/thread
    blastp_threads = 1
    blastp_memory_limit = 20.GB
    cdhit_threads = 2
    cdhit_memory_limit = 10.GB
    duckdb_threads = 1
    duckdb_memory_limit = 8.GB
    duckdb_temp_dir = "duckdb"
    // only relevant for params.import_mode == 'blast'
    uniprot_db_size = 70.GB  // estimate from trace file for 202506
    uniref90_db_size = 50.GB // estimate from trace file for 202506
    uniref50_db_size = 20.GB // estimate from trace file for 202506

    // Global to all options
    fasta_db = null

    // EST parameters
    sequence_version = "uniprot"
    domain = false
    domain_region = "domain"
    domain_family = null
    multiplex = true
    blast_evalue = "1e-5"
    blast_num_matches = 1000000
    import_blast_num_matches = 1000
    import_blast_evalue = "1e-5"
    num_fasta_shards = 128
    num_accession_shards = 64
    import_blast_fasta_db = null
    input_file = null
    filter = null
    sort_seq_by_length = false

    // GenerateSSN parameters
    threshold_metric = "alignment_score"
    min_length = 0
    max_length = 65000
    make_repnodes = true
    repnode_pct = [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50] 
    max_ssn_edges = 200000000
    compute_ssn_nc_factor = false

    // GNT/GND parameters
    nb_size = 20
    cooc_threshold = 0.2

    // Cluster Analysis parameters
    muscle_version = 3 // or 5
    max_msa_sequences = 750
    min_msa_sequences = 3
    make_weblogos = true
    make_hmms = true
    make_length_histograms = true
    compute_conserved_residues = false
    conserved_residues = []
    pid_thresholds = []

    // CGFP/ShortBRED parameters
    shortbred_src_dir = ""
    sb_identify_threads = 24
    sb_identify_method = "blast"    // or "diamond"
    sb_cdhit_sid = 0                // 0 -> ShortBRED uses it's own default
    sb_cons_thresh = 0              // 0 -> ShortBRED uses it's own default
    sb_diamond_sensitivity = 0      // 0 -> ShortBRED uses it's own default
    sb_search_refdb = null          // path to a binary BLAST database, FASTA file, or a DIAMOND database
    sb_quantify_threads = 24
    identify_dir = ""
    metagenome_ids = []
    metagenome_db_dir = ""          // user-specified, based on the metagenome database path
}

