timeline.overwrite = true
dag.overwrite = true
report.overwrite = true

docker.enabled = true

process {
    cpus = 1
    memory = 2.GB
    container = 'efi-est:latest'
    containerOptions = "-v $projectDir:$projectDir"

    withName: import_sequences {
        containerOptions = "-v $projectDir:$projectDir -v ${params.fasta_file}:${params.fasta_file}"
    }

    withName: blastreduce {
        cpus = 4
        memory = 16.GB
    }

    withName: visualize {
        cpus = 2
        memory = 8.GB
    }

    withName: finalize_output {
        containerOptions = "-v ${params.final_output_dir}:${params.final_output_dir}"
    }
}
