timeline.overwrite = true
dag.overwrite = true
report.overwrite = true

docker.enabled = true

process {
    cpus = 1
    memory = 2.GB
    withName: split_fasta {
        container = 'efi-est:latest'
    }

    withName: blastreduce_transcode_fasta {
        container = 'efi-est:latest'
    }

    withName: create_blast_db {
        container = 'efi-est:latest'
        containerOptions = '-v /home/hunter/code/EST/:/home/hunter/code/EST/'
    }

    withName: all_by_all_blast {
        container = 'efi-est:latest'
        containerOptions = '-v /home/hunter/code/EST/:/home/hunter/code/EST/'
    }
    withName: blastreduce {
        container = 'efi-est:latest'
        cpus = 4
        memory = 16.GB
    }
    withName: visualize_blast {
        container = 'efi-est:latest'
        cpus = 2
        memory = 8.GB
    }
}
