timeline.overwrite = true
dag.overwrite = true
report.overwrite = true

docker.enabled = true

process {
    cpus = 1
    memory = 2.GB
    container = 'efi-est:latest'
    containerOptions = "-v $projectDir:$projectDir"

    withName: blastreduce {
        cpus = 1
        memory = 16.GB
    }

    withName: visualize {
        cpus = 2
        memory = 8.GB
    }
}
