
import nextflow.util.MemoryUnit

/*
Helper function for memory to cpu (and vice-versa) calculations
Input: either a MemoryUnit or a number. If MemoryUnit, the function will return
an integer value representing the number of CPUs matching the memory allocation.
If a number, the function returns a MemoryUnit object with GB units that match
the CPU allocation.
https://chatgpt.com/share/6a4c024c-badc-83ea-8da6-83fc2ec1ca0a
*/
def convertResourceAllocation(value) {
    switch (value) {
        case MemoryUnit:
            return Math.max(
                1,
                Math.ceil(value.toGiga() / params.memory_cpu_ratio).toInteger()
            )

        case Number:
            return (value * params.memory_cpu_ratio).GB

        default:
            throw new IllegalArgumentException(
                "Unsupported type: ${value.getClass().name}"
            )
    }
}

/*
Helper function for handling different sequence database sizes
*/
def getDBMemory(params) {
    switch (params.sequence_version) {
        case 'uniprot':
            return params.uniprot_db_size
        case 'uniref90':
            return params.uniref90_db_size
        case 'uniref50':
            return params.uniref50_db_size
    }
}

