timeline.overwrite = true
dag.overwrite = true
report.overwrite = true
nextflow.preview.output = true
nextflow.enable.configProcessNamesValidation = false

executor {
    name = 'pbspro'
    queueSize = 64
}

process {
    executor = 'local'
    cpus = 1
    memory = 5.GB

    withLabel: 'APP_cd_hit' {
        executor = 'pbspro'
        cpus = 2
        memory = params.cdhit_memory_limit
    }

    withLabel: 'TASK_create_ssn' {
        executor = 'pbspro'
        cpus = 1
        memory = '20 GB' // is this enough?
    }




    withName: all_by_all_blast {
        executor = 'pbspro'
        memory = 2.GB
        time = 24.h
    }

    withName: blastreduce {
        executor = 'pbspro'
	    cpus = 4
        memory = 20.GB
        time = 24.h
    }

    withName: 'color_ssn|create_gnd|create_gnns|color_gnt_ssn|compute_clusters' {
        memory = 10.GB
        time = 6.h
    }

    withName: 'filter_blast|create_full_ssn' {
        memory = 16.GB
        time = 6.h
    }

    withLabel: muscle_align {
        executor = 'pbspro'
        cpus = 1
    }
}

/*
Include a config file containing the default values for workflows
*/ 
includeConfig './default_params.config'

