timeline.overwrite = true
dag.overwrite = true
report.overwrite = true
nextflow.preview.output = true
nextflow.enable.configProcessNamesValidation = false

executor {
    name = 'pbspro'
    queue = 'normal'
    queueSize = 64
}

/*
Include a config file containing the default values for workflows
*/
includeConfig './default_params.config'

process {
    executor = 'local'
    cpus = 1
    memory = 5.GB

    /*
    blastall -p blastp calls do not have an explicit memory limit and depending
    on the database size and number of sequences, this can easily use more than
    5 GB of allocated memory. This is especially true when the full uniprot/
    uniref sequence database files are used to gather sequences.
    */
    withLabel: 'APP_blastp' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = params.blastp_threads
        memory = params.blastp_memory_limit
    } 

    withLabel: 'APP_cd_hit' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = params.cdhit_threads
        memory = params.cdhit_memory_limit
    }

    withLabel: 'APP_duckdb' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = params.duckdb_threads
        memory = params.duckdb_memory_limit
    }

    withLabel: 'TASK_create_ssn' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 1
        memory = 20.GB
        scratch = params.compute_local_storage
    }


    withName: blastreduce {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 4
        memory = 20.GB
        time = 24.h
    }

    withName: 'color_ssn|create_gnd|create_gnns|color_gnt_ssn|compute_clusters' {
        memory = 10.GB
        time = 6.h
    }

    withName: 'filter_blast|create_full_ssn' {
        memory = 16.GB
        time = 6.h
    }

    withLabel: muscle_align {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 1
    }
}

