timeline.overwrite = true
dag.overwrite = true
report.overwrite = true
nextflow.preview.output = true
nextflow.enable.configProcessNamesValidation = false

executor {
    name = 'pbs'
    queue = 'normal'
    queueSize = 64
}

/*
Include a config file containing the default values for workflows
*/
includeConfig './default_params.config'

/*
Helper function for memory to cpu (and vice-versa) calculations
Input: either a MemoryUnit or a number. If MemoryUnit, the function will return
an integer value representing the number of CPUs matching the memory allocation.
If a number, the function returns a MemoryUnit object with GB units that match
the CPU allocation.
https://chatgpt.com/share/6a4c024c-badc-83ea-8da6-83fc2ec1ca0a
*/
def convertResourceAllocation(value) {
    switch (value) {
        case MemoryUnit:
            return Math.max(
                1,
                Math.ceil((double) value.toGiga() / params.memory_cpu_ratio).toInteger()
            )

        case Number:
            return (value * params.memory_cpu_ratio).GB

        default:
            throw new IllegalArgumentException(
                "Unsupported type: ${value.getClass().name}"
            )
    }
}

process {
    executor = 'local'
    cpus = 1
    memory = 5.GB

    /*
    blastall -p blastp calls do not have an explicit memory limit and depending
    on the database size and number of sequences, this can easily use more than
    5 GB of allocated memory. This is especially true when the full uniprot/
    uniref sequence database files are used to gather sequences.
    */
    withLabel: 'APP_blastp' {
        executor = 'pbs'
        queue = 'normal'
        cpus = params.blastp_threads
        memory = convertResourceAllocation(params.blastp_threads)
        clusterOptions = "-l nodes=1:ppn=1"
        clusterOptions = "-l walltime=24:00:00"
    } 

    withLabel: 'APP_cd_hit' {
        executor = 'pbs'
        queue = 'normal'
        cpus = convertResourceAllocation(params.cdhit_memory_limit)
        memory = params.cdhit_memory_limit
        clusterOptions = "-l nodes=1:ppn=1"
        clusterOptions = "-l walltime=24:00:00"
    }

    withLabel: 'APP_clustalo' {
        executor = 'pbs'
        queue = 'normal'
        cpus = 1
        memory = convertResourceAllocation(1)
        clusterOptions = "-l nodes=1:ppn=1"
        clusterOptions = "-l walltime=24:00:00"
    }

    withLabel: 'APP_duckdb' {
        executor = 'pbs'
        queue = 'normal'
        cpus = params.duckdb_threads
        memory = params.duckdb_memory_limit
        clusterOptions = "-l nodes=1:ppn=1"
        clusterOptions = "-l walltime=24:00:00"
    }

    withLabel: APP_muscle {
        executor = 'pbs'
        queue = 'normal'
        cpus = 1
        memory = convertResourceAllocation(1)
        time = 24.hr
        clusterOptions = "-l nodes=1:ppn=1"
        clusterOptions = "-l walltime=24:00:00"
    }

    withLabel: 'TASK_axa' {
        executor = 'pbs'
        queue = 'normal'
        cpus = Math.max(params.duckdb_threads, params.blastp_threads)
        memory = params.duckdb_memory_limit.toGiga() > params.blastp_memory_limit.toGiga() ? params.duckdb_memory_limit : params.blastp_memory_limit
        clusterOptions = "-l nodes=1:ppn=1"
        clusterOptions = "-l walltime=24:00:00"
    }

    withLabel: 'TASK_create_ssn' {
        executor = 'pbs'
        queue = 'normal'
        cpus = 1
        memory = 20.GB
        scratch = params.compute_local_storage
        clusterOptions = "-l nodes=1:ppn=1"
        clusterOptions = "-l walltime=24:00:00"
    }

    withLabel: 'TASK_import_BLAST' {
        executor = 'pbs'
        queue = 'normal'
        cpus = params.sequence_version == "uniprot" ? convertResourceAllocation(params.uniprot_db_size) : ( params.sequence_version == "uniref90" ? convertResourceAllocation(params.uniref90_db_size) : convertResourceAllocation(params.uniref50_db_size) )
        memory = params.sequence_version == "uniprot" ? params.uniprot_db_size : ( params.sequence_version == "uniref90" ? params.uniref90_db_size : params.uniref50_db_size )
        clusterOptions = "-l nodes=1:ppn=1"
        clusterOptions = "-l walltime=24:00:00"
    }
}

