timeline.overwrite = true
dag.overwrite = true
report.overwrite = true
nextflow.preview.output = true
nextflow.enable.configProcessNamesValidation = false

singularity.enabled = true

/*
Include a config file containing the default values for workflows
*/ 
includeConfig './default_params.config'

process {
    cpus = 1
    memory = 5.GB
    container = 'enzymefunctioninitiative/efi-est:latest'
    containerOptions = "--bind $projectDir:$projectDir --bind $projectDir/../shared:$projectDir/../shared --bind $projectDir/../../:$projectDir/../../ --bind $projectDir/../../lib:$projectDir/../../lib --bind $EFI_DATA_DIR:$EFI_DATA_DIR"

    /*
    blastall -p blastp calls do not have an explicit memory limit and depending
    on the database size and number of sequences, this can easily use more than
    5 GB of allocated memory. This is especially true when the full uniprot/
    uniref sequence database files are used to gather sequences.
    */
    withLabel: 'APP_blastp' {
        cpus = params.blastp_threads
        memory = params.blastp_memory_limit
    } 

    withLabel: 'APP_cd_hit' {
        cpus = params.cdhit_threads
        memory = params.cdhit_memory_limit
    }

    withLabel: 'APP_duckdb' {
        cpus = params.duckdb_threads
        memory = params.duckdb_memory_limit
    }

    withLabel: 'TASK_axa' {
        cpus = Math.max(params.duckdb_threads, params.blastp_threads)
        memory = params.duckdb_memory_limit.toGiga() > params.blastp_memory_limit.toGiga() ? params.duckdb_memory_limit : params.blastp_memory_limit
    }

    withLabel: 'TASK_create_ssn' {
        cpus = 1
        memory = 20.GB
        scratch = params.compute_local_storage
    }

    withLabel: muscle_align {
        cpus = 1
    }
}

