timeline.overwrite = true
dag.overwrite = true
report.overwrite = true
nextflow.preview.output = true
nextflow.enable.configProcessNamesValidation = false

singularity.enabled = true

/*
Include a config file containing the default values for workflows
*/ 
includeConfig './default_params.config'

process {
    cpus = 1
    memory = 5.GB
    container = 'enzymefunctioninitiative/efi-est:latest'
    containerOptions = "--bind $projectDir:$projectDir --bind $projectDir/../shared:$projectDir/../shared --bind $projectDir/../../:$projectDir/../../ --bind $projectDir/../../lib:$projectDir/../../lib --bind $EFI_DATA_DIR:$EFI_DATA_DIR"

    withLabel: 'APP_cd_hit' {
        cpus = 2
        memory = params.cdhit_memory_limit
    }

    withLabel: 'TASK_create_ssn' {
        cpus = 1
        memory = '20 GB' // is this enough?
    }




    withName: 'color_ssn|create_gnd|create_gnns|color_gnt_ssn|compute_clusters' {
        memory = 10.GB
    }

    withName: 'blastreduce' {
        memory = 20.GB
    }

    withName: 'filter_blast|create_full_ssn' {
        memory = 16.GB
    }

    withLabel: muscle_align {
        cpus = 1
    }
}

