timeline.overwrite = true
dag.overwrite = true
report.overwrite = true

executor {
    name = 'slurm'
    queue = 'efi'
    queueSize = 64
}

process {
    executor = 'local'
    cpus = 1
    memory = 8.GB

    withName: all_by_all_blast {
        executor = 'slurm'
        queue = 'efi'
        cpus = 1
        memory = 4.GB
    }

    withName: blastreduce {
        executor = 'slurm'
        queue = 'efi'
        cpus = 1
        memory = 32.GB
    }

    withName: visualize {
        cpus = 2
    }
}
