timeline.overwrite = true
dag.overwrite = true
report.overwrite = true
nextflow.preview.output = true
nextflow.enable.configProcessNamesValidation = false

executor {
    name = 'slurm'
    queue = 'efi'
    queueSize = 128
}

/*
Include a config file containing the default values for workflows
*/
includeConfig './default_params.config'

/*
Include a config file containing memory/cpu resource allocation helper functions
*/
includeConfig './helper_functions.config'

process {
    executor = 'local'
    cpus = 1
    memory = 5.GB

    /*
    blastall -p blastp calls do not have an explicit memory limit and depending
    on the database size and number of sequences, this can easily use more than
    5 GB of allocated memory. This is especially true when the full uniprot/
    uniref sequence database files are used to gather sequences.
    */
    withLabel: 'APP_blastp' {
        executor = 'slurm'
        queue = 'efi'
        cpus = params.blastp_threads
        memory = convertResourceAllocation(params.blastp_threads)
    }

    withLabel: 'APP_cd_hit' {
        executor = 'slurm'
        queue = 'efi'
        cpus = convertResourceAllocation(params.cdhit_memory_limit)
        memory = params.cdhit_memory_limit
    }

    withLabel: 'APP_duckdb' {
        executor = 'slurm'
        queue = 'efi'
        cpus = params.duckdb_threads
        memory = params.duckdb_memory_limit
    }

    withLabel: 'TASK_import_BLAST' {
        executor = 'slurm'
        queue = 'efi'
        cpus = convertResourceAllocations(getDBMemory(params))
        }
        memory = getDBMemory(params)
    }

    withLabel: 'TASK_axa' {
        executor = 'slurm'
        queue = 'efi'
        cpus = Math.max(params.duckdb_threads, params.blastp_threads)
        memory = params.duckdb_memory_limit.toGiga() > params.blastp_memory_limit.toGiga() ? params.duckdb_memory_limit : params.blastp_memory_limit
    }

    withLabel: 'TASK_create_ssn' {
        executor = 'slurm'
        queue = 'efi'
        cpus = 1
        memory = 20.GB
        scratch = params.compute_local_storage
    }

    withName: 'color_ssn|create_gnd|create_gnns|color_gnt_ssn|compute_clusters' {
        executor = 'slurm'
        queue = 'efi'
        memory = 10.GB
    }

    withName: 'filter_blast|create_full_ssn' {
        executor = 'slurm'
        queue = 'efi'
        memory = 16.GB
    }

    withLabel: muscle_align {
        executor = 'slurm'
        cpus = 1
    }
}

