timeline.overwrite = true
dag.overwrite = true
report.overwrite = true

executor {
    name = 'pbspro'
    queueSize = 64
}

process {
    executor = 'local'
    cpus = 1
    memory = 5.GB

    withName: all_by_all_blast {
        executor = 'pbspro'
	    cpus = 4
        memory = 32.GB
        time = 24.h
    }

    withName: blastreduce {
        executor = 'pbspro'
	    cpus = 4
        memory = 32.GB
        time = 24.h
    }

    withName: visualize {
        executor = 'pbspro'
	    cpus = 4
        memory = 32.GB
        time = 24.h
    }
}
