timeline.overwrite = true
dag.overwrite = true
report.overwrite = true

executor {
    name = 'pbs'
    queue = 'normal'
    queueSize = 64
}

process {
    executor = 'local'
    cpus = 1
    memory = 5.GB

    withName: all_by_all_blast {
        executor = 'pbs'
        queue = 'normal'
        memory = 2.GB
        clusterOptions = "-l nodes=1:ppn=1"
        clusterOptions = "-l walltime=24:00:00"
    }

    withName: blastreduce {
        executor = 'pbs'
        queue = 'normal'
        memory = 32.GB
        clusterOptions = "-l nodes=1:ppn=4"
        clusterOptions = "-l walltime=24:00:00"
    }

    withName: visualize {
        executor = 'pbs'
        queue = 'normal'
        memory = 32.GB
        clusterOptions = "-l nodes=1:ppn=2"
        clusterOptions = "-l walltime=24:00:00"
    }
}
