timeline.overwrite = true
dag.overwrite = true
report.overwrite = true

executor {
    name = 'slurm'
    queue = 'efi'
    queueSize = 64
}

process {
    executor = 'local'
    cpus = 1
    memory = 4.GB

    withName: all_by_all_blast {
        executor = 'slurm'
        queue = 'efi'
        memory = 2.GB
    }

    withName: blastreduce {
        executor = 'slurm'
        queue = 'efi'
        cpus = 4
        memory = 16.GB
    }

    withName: visualize_blast {
        cpus = 2
        memory = 4.GB
    }
}
