fasta_file: "{{ fasta_file }}"
final_output_dir: "{{ output_dir }}"
duckdb_memory_limit: "{{ duckdb_mem }}"
duckdb_threads: {{ duckdb_threads }}
num_fasta_shards: {{ fasta_shards }}
num_blast_matches: {{ blast_matches }}
multiplex: false
job_id: {{ job_id }}
