timeline.overwrite = true
dag.overwrite = true
report.overwrite = true
nextflow.preview.output = true

docker.enabled = true

process {
    cpus = 1
    memory = 10.GB
    container = 'enzymefunctioninitiative/efi-est:latest'
    containerOptions = "-v $projectDir:$projectDir -v $projectDir/../shared:$projectDir/../shared -v $projectDir/../../lib:$projectDir/../../lib"
}

