timeline.overwrite = true
dag.overwrite = true
report.overwrite = true
nextflow.preview.output = true

singularity.enabled = true

process {
    cpus = 1
    memory = 10.GB
    container = 'enzymefunctioninitiative/efi-est:latest'
    containerOptions = "--bind $projectDir:$projectDir --bind $projectDir/../shared:$projectDir/../shared --bind $projectDir/../../lib:$projectDir/../../lib --bind $projectDir/../../tests/test_data:$projectDir/../../tests/test_data"
}

